<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <h1>You are present :<%=user.email%></h1>
    <form method="post" action="/user/<%=user.id%>?_method=PATCH">
        <textarea name="username" id=""><%=user.username%></textarea>&nbsp;&nbsp;
        <input type="password" name="password" placeholder="enter password">&nbsp;&nbsp;
        <button>Edit</button>
    </form>
</body>
</html>